.container{
    border: 1px solid #ddd;
    text-align: center;
    width: 170px;
    font-size: 13px;
    margin: 6px;
    box-shadow: 0 0 6px #ddd;
    transition: all 0.2s;
    cursor: pointer;
    .img{
        width: 100px;
    }
    &:hover{
        transform: rotate(1deg) scale(1.03);
    }
}